@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');





:root {
  font-family: "Kumbh Sans", serif;
  font-optical-sizing: auto;



  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f5f5f5;


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}